body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .page-content {
    // align-self: start;
    align-content: flex-start;

    .wrapper {
      // width: 100%;
      // margin: 0 auto;
      // padding: 1% 2% 1% 2%;
      // -moz-box-sizing: border-box;
      // -webkit-box-sizing: border-box;
      // box-sizing: border-box;
      padding-top: 8vw;
    }
  }
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1% 2% 1% 2%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  .site-title {
    // padding-top: 20vh;
    padding-bottom: 10vh;

    h1 {
      font-size: 6.4vw;
      font-weight: 700;
      font-style: normal;
      letter-spacing: -0.2vw;
      text-align: center;
      line-height: 0.9;
    }
  }
  .site-intro {
    max-width: 40rem;
    p {
      font-size: $large-font-size;
      text-align: center;
    }
    .contact-info{
      display: flex;
      justify-content: center;
      div {
        padding: 2rem;
        a {
          font-size: $large-font-size;
        }
      }
    }
  }

}

@media screen and (max-width: 65rem) {
  
  .home .site-title {
    padding-top: 15vh;
  }

  .home .site-title h1 {
    font-size: 5rem;
    letter-spacing: -.2rem;
  }

  .home .site-intro {
    max-width: 30rem;
  }
  .home .site-intro .contact-info div {
    padding: .5rem;
  }

  .home .site-intro .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .home .site-intro p,
  .home .site-intro .contact-info div a {
    font-size: $base-font-size;
  }
}



/*-----------------------------------*\
  CV
\*-----------------------------------*/

div.cv.wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 75rem;

  div.section:not(:first-child) {
    margin-top: $large-spacing-unit;
  }

  div {
    h2 {

    }

    .item {
      display: flex;
      flex-direction: column;
      margin-top: $spacing-unit;
      padding-top: $spacing-unit;
      border-top: 1px solid $border-color;

      .time {
        font-size: $small-font-size;
        text-transform: uppercase;
      }
      .company {
        font-weight: $bold-font-weight;
        font-size: $large-font-size;
        line-height: $tight-line-height;
      }
      .job-title {

      }
    }
  }
}

.site-footer {

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $grey-color-light;
    // padding: $spacing-unit;
    
    div.footer-links {
      display: flex;
      align-items: center;
      a {
        display: flex;
        margin-left: $spacing-unit;
      }
    }
  }
}

.site-header {

  .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grey-color-light;
  // padding: $spacing-unit;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  position: absolute;
  width: 100vw;
  height: auto;
  left: 0;
  z-index: 1000;
  padding: 0 2% 0 2%;
  // font-family: 'Roobert-Bold', sans-serif;
  font-size: 4vw;
  font-weight: $bold-font-weight;
  box-sizing: border-box;
  // color: var(--light);
  // border-bottom: 1px solid var(--light);
  }

}

div.work {

  img.portfolio-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-bottom: 2%;
    aspect-ratio: auto 2560 / 1440;
    margin: 0;
    padding: 0;
    border: 0;
    &:not(:last-child) {
      margin-bottom: 2%;
    }
  }
}
