

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  .site-title {
    padding-top: 20vh;
    padding-bottom: 10vh;

    h1 {
      font-family: $heading-font-family;
      font-size: 6.4vw;
      font-weight: 700;
      font-style: normal;
      letter-spacing: -0.2vw;
      text-align: center;
      line-height: 0.9;
    }
  }
  .site-intro {
    max-width: 40rem;
    p {
      font-style: italic;
      font-size: $large-font-size;
      text-align: center;
    }
    .contact-info{
      display: flex;
      justify-content: center;
      div {
        padding: 2rem;
        a {
          font-size: $large-font-size;
        }
      }
    }
  }

}

@media screen and (max-width: 65rem) {
  
  .home .site-title {
    padding-top: 15vh;
  }

  .home .site-title h1 {
    font-size: 5rem;
    letter-spacing: -.2rem;
  }

  .home .site-intro {
    max-width: 30rem;
  }
  .home .site-intro .contact-info div {
    padding: .5rem;
  }

  .home .site-intro .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .home .site-intro p,
  .home .site-intro .contact-info div a {
    font-size: $base-font-size;
  }
}

/*-----------------------------------*\
  $BASE
\*-----------------------------------*/
html {
   height: 100%;
  background:
		linear-gradient(
			limegreen,
			transparent
		),
		linear-gradient(
			90deg,
			skyblue,
			transparent
		),
		linear-gradient(
			-90deg,
			coral,
			transparent
		);
	background-blend-mode: screen;
	-webkit-animation: hue 30s infinite linear;
}
/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}