
/*-----------------------------------*\
  GENERAL
\*-----------------------------------*/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  // height: 100vh;

  // Different colors for pages
  &.home {
    background-color: $background-color-A;
    background: linear-gradient(-45deg, #e75b35, #d25735, #ff8d58);
    color: $text-color;
    .svg-icon {
      fill: $link-color-A;
    }
    a.page-link {
      color: $link-color-A;
    }
    .site-footer,
    .site-footer a {
      color: $link-color-A;
    }
  }
  &.work {
    background-color: $background-color-C;
    color: $text-color-inv;
    .svg-icon {
      fill: $link-color-C;
    }
    a.page-link {
      color: $link-color-C;
    }
    .site-footer,
    .site-footer a {
      color: $link-color-C;
    }
  }
  &.cv {
    background-color: $background-color-B;
    background: linear-gradient(70deg, #008dbc, #5fb2ed, #7bd5f1);
    color: $text-color;
    .svg-icon {
      fill: $link-color-B;
    }
    a.page-link {
      color: $link-color-B;
    }
    .site-footer,
    .site-footer a {
      color: $link-color-B;
    }
  }
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 2%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-content {
  flex: 1 0 auto;
}

.site-header,
.site-footer {
  flex: 0 0 auto;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: $spacing-unit 2%;
    border: 0;
    vertical-align: baseline;
    z-index: 1000;
  }
}

.site-header {
  .wrapper {
    border-bottom: 1px solid $border-color;
    font-size: 4vw;
    font-weight: $bold-font-weight;
    font-size: 1.6vw;

    //vertical align home icon
    > div > a {
      display: flex;
    }

    .svg-icon {
      width: 2.2vw;
      height: 2.2vw;
      padding: 4px;
    }

    a.page-link {
      margin-left: $large-spacing-unit;
    }
  }
}

.site-footer {

  .wrapper {
    border-top: 1px solid $border-color;
    font-size: 1rem;
    font-weight: $medium-font-weight;

    div.footer-links {
      display: flex;
      align-items: center;

      .svg-icon {
        width: 1.2rem;
        height: 1.2rem;
      }

      a {
        display: flex;
        margin-left: $large-spacing-unit;
      }
    }
  }
}

/*-----------------------------------*\
  HOME
\*-----------------------------------*/

body.home {

  .page-content p,
  .page-content #contact-info a {
    font-size: 6.2vw;
    font-weight: $bold-font-weight;
    line-height: $tight-line-height;
    letter-spacing: -0.02em;
    margin-bottom: 0.75em;
    color: $text-color;
  }
}

.home-portrait {
  width: 5vw;
  height: 5vw;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border-radius: 2.5vw;
  position: relative;
  top: 0.25vw;
}

/*-----------------------------------*\
  WORK
\*-----------------------------------*/

img.portfolio-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-bottom: 2%;
  aspect-ratio: auto 2560 / 1440;
  margin: 0;
  padding: 0;
  border: 0;

  &:not(:last-child) {
    margin-bottom: 2%;
  }
}


/*-----------------------------------*\
  CV
\*-----------------------------------*/

$cv-border-color: fade-out($link-color-B, .6);

.cv.wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 70vw;
  padding: $xlarge-spacing-unit 2%;

  div.section:not(:first-child) {
    margin-top: $xlarge-spacing-unit;
  }

  div {
    h2 {
      font-size: 1.6vw;
      font-weight: $medium-font-weight;
      color: $link-color-B;
    }

    .item {
      display: flex;
      flex-direction: column;
      margin-top: $spacing-unit;
      padding-top: $spacing-unit;
      border-top: 1px solid $cv-border-color;

      .time {
        font-size: 1.2vw;
        text-transform: uppercase;
        font-weight: $medium-font-weight;
        color: $link-color-B;
        padding-bottom: 0.4vw;
      }
      .company {
        font-weight: $bold-font-weight;
        font-size:3.4vw;
        line-height: $tight-line-height;
      }
      .job-title {
        font-size: 1.6vw;
      }
    }
  }
}

@media screen and (max-width: 70rem) {

  .site-header {
    .wrapper {
      font-size: 1.2rem;
      
      .svg-icon {
        width: 1.6rem;
        height: 1.6rem;
        padding: 4px;
      }
  
      a.page-link {
        margin-left: $spacing-unit;
      }
    }
  }

  .site-footer {
    .wrapper {
      font-size: .8rem;
  
      div.footer-links a {
        margin-left: $spacing-unit;
      }
    }
  }

  .home-portrait {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 1.8rem;
    position: relative;
    top: 0.4rem;
  }

  .cv.wrapper {
    max-width: 90%;
    padding: 8vh 2%;
  
    div.section:not(:first-child) {
      margin-top: $xlarge-spacing-unit;
    }
  
    div {
      h2 {
        font-size: 0.8rem;
      }
  
      .item {
  
        .time {
          font-size: 0.8rem;
          padding-bottom: 0.1rem;
        }
        .company {
          font-size:2rem;
        }
        .job-title {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 48rem) {

  body.home {
    .page-content p,
    .page-content #contact-info a {
      font-size: 6.8vw;
    }
  }

  .cv.wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 30rem) {

  body.home {
    .page-content p,
    .page-content #contact-info a {
      font-size: 7.8vw;
      line-height: 100%;
    }
  }

  .home-portrait {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    top: 0.25rem;
  }

  .cv.wrapper {

    div {
      h2 {
        font-size: 0.8rem;
      }
  
      .item {
  
        .time {
          font-size: 0.8rem;
          padding-bottom: 0.1rem;
        }
        .company {
          font-size:1.6rem;
        }
        .job-title {
          font-size: 1rem;
        }
      }
    }
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
