<footer class="site-footer">
  <div class="wrapper">
    <div>
      <span>© 2024 David Offereins</span>
    </div>
    <div class="footer-links">
      {% if page.url == "/" %}
        <div><a href="{{ '/cv' | relative_url }}">Curriculum Vitae</a></div>
        <div><a href="{{ '/work' | relative_url }}">Work</a></div>
      {% elsif page.url == "/work/" %}
        <div><a href="{{ '/' | relative_url }}">Home</a></div>
        <div><a href="{{ '/cv' | relative_url }}">Curriculum Vitae</a></div>
        <div><a href="{{ '/#contact-info' | relative_url }}">Contact</a></div>
      {% elsif page.url == "/cv/" %}
        <div><a href="{{ '/' | relative_url }}">Home</a></div>
        <div><a href="{{ '/work' | relative_url }}">Work</a></div>
        <div><a href="{{ '/#contact-info' | relative_url }}">Contact</a></div>
      {% else %}
        <div><a href="{{ '/#contact-info' | relative_url }}">Contact</a></div>
      {% endif %} 

      
    </div>
  </div>
</footer>
