@charset "utf-8";

// Define defaults for each variable.

$base-font-family: neue-haas-grotesk-text, Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$base-font-size:   2rem !default;
$small-font-size:  $base-font-size * 0.6 !default;
$large-font-size:  3.4vw !default;
$xlarge-font-size:  6.2vw !default;

$base-font-weight:   400 !default;
$medium-font-weight: 500 !default;
$bold-font-weight:   700 !default;

$base-line-height:  1.5 !default;
$tight-line-height: 96% !default;

$spacing-unit:         .75rem !default;
$large-spacing-unit:   $spacing-unit * 2 !default;
$xlarge-spacing-unit:  $spacing-unit * 6 !default;

$text-color:       hsl(0, 0%, 5%) !default;
$text-color-inv:   hsl(0, 0%, 85%) !default;
$border-color:     hsla(0, 0%, 100%, 0.4) !default;

$background-color-A: hsl(18, 95%, 45%) !default;
$background-color-B: hsl(188, 46%, 66%) !default;
$background-color-C: hsl(0, 0%, 2%) !default;

$link-color-A: darken($background-color-A, 40%) !default;
$link-color-B: darken($background-color-B, 50%) !default;
$link-color-C: lighten($background-color-C, 85%) !default;

$brand-color:      $text-color !default;

$grey-color:       hsl(0, 0%, 41%) !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    100vw !default;

$on-palm:          95vw !default;
$on-laptop:        100vw !default;
$small-screen:     65vw !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "custom/normalize",
  "minima/base",
  // "minima/layout",
  // "minima/syntax-highlighting",
  "custom/main"
;
