---
layout: default
---

<div class="home">
    <div class="site-intro">
        <p>Hi, I'm David Offereins <img loading="lazy" class="home-portrait" src="{{ 'assets/img/portret-bewerkt.jpg' | relative_url }}" alt="David Portrait"> Over the last 15 years I have designed brands, campaigns, digital products and more. I am a Jack of all trades & a master of some.</p>
        <p>I create brands and campaigns that not only look good, but effectively communicate. Design can make a brand feel premium, or upbeat and happy, or empowering. Together with the client, I define the key message that the brand should deliver. I then use colors, typography, shapes and images to effectively communicate that message.</p>
        <p>I enjoy working with oldschool print media, but today I work mostly with code. I enjoy building thoughtful, intuitive interfaces, often based on complex datasets. <a class="inline-link" href="{{ "/work" | relative_url }}">Click here</a> for some examples of my work.</p>
        <p>I studied Geography and after working some years in that field, I went to the Royal Academy of Art in The Hague to study grapic design. At first I worked mostly on urban development projects, but later shifted towards tech-companies. I then joined cybersecurity start-up Cybersprint as Creative Director, where I was responsible for everything design related, including branding and product design. In 2022 Cybersprint was acquired by Darktrace, not long thereafter I went back to freelancing. Check my full resume <a class="inline-link" href="{{ "/cv" | relative_url }}">here</a>.</p>
        <p>I am currently working for another startup, designing the brand and the product interface. Besides that, I am available for interesting projects. So feel free to get in touch!</p>
        <div class="contact-info">
            <div><a href="tel:+31644710684">+31 6 44 710 684</a></div>
            <div><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></div>
        </div>
    </div>    
</div>

