---
layout: default
---

<div class="home">
    <div class="site-title">
        <h1>David Offereins Design</h1>
    </div> 
    <div class="site-intro">
        <p>&#128075;, I'm David. Over the last 15 years I have designed brands, interfaces, websites and more. I am available to work on new projects. &#127881;</p>
        <div class="contact-info">
            <div><a href="tel:+31644710684">+31 6 44 710 684</a></div>
            <div><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></div>
        </div>
    </div>
    
</div>
