---
layout: default
---

<div class="home">
    <div class="site-intro">
        <p>I'm David <img loading="lazy" class="home-portrait" src="{{ 'assets/img/portret-bewerkt.jpg' | relative_url }}" alt="David Portrait"> Over the last 15 years I have designed brands, interfaces, websites and more. I am available to work on new projects.</p>
        <p>I'm David. Over the last 15 years I have designed brands, interfaces, websites and more. I am available to work on new projects.</p>
        <div class="contact-info">
            <div><a href="tel:+31644710684">+31 6 44 710 684</a></div>
            <div><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></div>
        </div>
    </div>    
</div>